
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "📪 ";
}

/* Media Query for medium+ views */
@media(min-width: 32.5em) {
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding:0;
		max-width:990px;
		width:autos;
	}
	.navigation {
		display: flex;
		flex-direction: row;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.together{
		flex-direction: column;
		margin-left: 1rem;
		margin-top:1rem;
	}
	.navigation li:first-child {
		display: none;
	}
	.logo{
		width: 50px;
		float: left;
	}
	.navigation {
		list-style: none;
		padding: 0;
	}
	.navigation li:first-child {
		display: block;
	}
	.navigation li {
		display: none;
	}
	.navigation a {
		display: block;
		padding: 0.75rem;
		text-align: left;
		text-decoration: none;
		color: white;
		font-weight: 700;
		transition: 0.5s;
		font-size: clamp(1rem, 2vmin, 1.5rem);
	}
	
	header{
		background-color: #746D75;
		color:white;
		padding-bottom: 5px;
	}
	
	.responsive li {
		display: block;
	}
	
	.navigation a.ham::before {
		content: "📬 ";
	}
	.responsive a.ham::before {
		content: "📪 ";
	}
	.title{
		margin:0;
	}
	
	.navigation a:hover {
		color: black;
		background-color: white;
	}
	.names{
		display:flex;
		flex-direction: column;
		justify-items: center;
		margin-left: 1rem;
	}
	h3{
		margin:0
	}
	.social-media{
		display: flex;
		flex-direction: row;
	}

	.facebook, .insta{
		float:left;

	}

	.date{
		display: flex;
		justify-content: center;
		font-size: 01.5em;
		background-color: darkgrey;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 10px;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.weather, .hero, .event, .releases, .spotlights, .sone, .stwo{
		padding-bottom: 100px;
		background-color: grey;
		border-style: solid;
		border-color: black;
	}

    main{
        display: flex;
        flex-direction: column;
    }

    main :nth-child(1){ order: 1; }
    main :nth-child(2){ order: 5; }
    main :nth-child(3){ order: 5; }
    main :nth-child(4){ order: 2; }
    main :nth-child(5){ order: 3; }
	.spotlights{
		padding-bottom: 0px;
        order: 3;
        display: flex;
        flex-direction: row;
	}
	.sone, .stwo{
		margin-left: 10px;
		margin-right: 10px;
        padding-right: 40%;
	}

	footer{
		background-color: #746D75;
		color: white;
		align-items: center;
		justify-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 15px;
	}

	.footerlogo{
		width: 100px;
		float: left;
		align-items: center;
	}

	.footertitle{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.location, .pin, .phone, .email{
		margin-top: 0px;
	}

	.end, .myname, .class, #lastModified{
		margin-top: 0px;
		margin-bottom: 0px;
	}

    .topFooter{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       }

    .partThree{
        align-self: flex-end;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .join, .sthree{
        display: none;
    }

}