/* Fonts from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
.header{
    background-color: blue;
    display:grid;
    grid-template-rows: 66px 66px 66px;
    height: 198px;
}

.name-photo img{
    float:left;
    height: 165px;
    padding-left: 15px;
    padding-top: 15px;

}

.name{
    grid-row: 2 / 3;
    text-align: center;
    color: aliceblue;

}