@media (min-width: 32.5em){
    .header{
        background-color: blue;
        font-family: "Merriweather", sans-serif;
    
    }

    .name-photo img{
        float:left;
        height: 165px;
        padding-left: 15px;
        padding-top: 15px;
    
    }

    .list-assignments{
        padding-left: 50px;
    }

    .name{
        grid-row: 2 / 3;
        text-align: center;
        color:crimson
    }

    .footer{
        background-color: black;
        font-family: "Merriweather", sans-serif;
    }

    p{
        font-family: sans-serif;
    }
}